*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif';
}
body{
    background: url('../images/bg.jpg') no-repeat;
    width: 100%;
    height: 100vh;
    display: inline block;
    background-size: cover;
    background-position: center;
}
header{
    font-family: "Poppins", sans-serif;
    top: 0%;
    width: 100%;
    background: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(50px);
  color: #fff;
}
.navbar{
    margin: 10px;
    padding: 12px 5% 10px 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
   display: flex;
   flex-direction: column;
   font-size: 1.96rem;
}
.links{
    display: flex;
    gap: 100px;
}
.links a{
    color: #efbbff;
    
    text-decoration: none;
    font-size: 1.96rem;

}
.btns{
    align-items: center;
    justify-content: center;
    min-width: 80px;
    display: flex;
    gap: 20px;
    
}
.btns button{
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(50px);
    color: #fff;
}
.btns a{
    font-size: 1.2rem;
    text-decoration: none;
    width: 80px;
    height: 25px;
    font-weight: 600px;
    cursor: pointer;
    color: white;
   
}
a:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.container{
    margin-top: 100px;
    display: flex;
    margin-left: 50px;
    justify-content: left;
}
.container h4{
    font-size: 1.5rem;
}
.container img{
    position: absolute;
    top:30%;
    right: 10%;
    height: 400px;
    
}
.container p{
    position: absolute;
    font-size: 1.5rem;
    width: 400px;
    margin-top: 50px;
    color: white;
}