*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif';
}
body{
    background: url('../images/hello.jpg') no-repeat;
    width: 100%;
    height: 100vh;
    display: inline block;
    background-size: cover;
    background-position: center;
}
header{
    font-family: "Poppins", sans-serif;
    top: 0%;
    width: 100%;
    background: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(50px);
  color: #fff;
}
.navbar{
    margin: 10px;
    padding: 12px 5% 10px 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
   display: flex;
   flex-direction: column;
   font-size: 1rem;
}
.links{
    display: flex;
    gap: 50px;
}
.links a{
    color: #0f0e0f;
    
    text-decoration: none;
    font-size: 1.96rem;

}
.btns{
    align-items: center;
    justify-content: center;
    min-width: 80px;
    display: flex;
    gap: 20px;
    
}
.btns button{
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(50px);
    color: #fff;
}
.btns a{
    font-size: 1.2rem;
    text-decoration: none;
    width: 80px;
    height: 25px;
    font-weight: 600px;
    cursor: pointer;
    color: white;
   
}
a:hover{
    cursor: pointer;
    transform: scale(1.05);
}
#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
  }
  
  #customers td, #customers th {
    border: 1px solid #121111;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: rgb(246, 242, 242);
  }
  .but{
    align-items: center;
    justify-content: center;
    min-width: 40px;
    display: flex;
    gap: 50px;
    
}
.but button{
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(50px);
    color: #ed75d1;
}
.but a{
    font-size: 1.5rem;
    text-decoration: wavy;
    width: 80px;
    height: 50px;
    font-weight: 600px;
    cursor: pointer;
    color: rgb(7, 7, 7);
   
}
.wrapper{
    width: 500px;
    background:burlywood;
    align-items: center;
    border: 2px solid rgba(251, 243, 243, 0.2);
    backdrop-filter: blur(50px);
    position: centre;
    color: #b39aa9;
    border-radius: 12px;
    padding: 30px 40px;
  }
  .wrapper h1{
    font-size: 36px;
    text-align: center;
    margin-bottom: 10px;
  }
  .wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 20px 0 0 0;
  }
  .input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #ec9fd9;
    padding: 20px 45px 20px 20px;
  }
  .input-box input::placeholder{
    color: #918b8b;
  }
  .input-box i{
    position: absolute;
    right: 20px;
    top: 30%;
    transform: translate(-50%);
    font-size: 20px;
  
  }
.wrapper .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin-top: 20px;
  }
  body {
    margin: 0;
    padding: 0;
    background-color: #17a2b8;
    height: 100vh;
  }
  #costomers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
  }
  
  #costomers td, #costomers th {
    border: 1px solid #121111;
    padding: 8px;
  }
  
  #costomers tr:nth-child(even){background-color: #f2f2f2;}
  
  #costomers tr:hover {background-color: #ddd;}
  
  #costomers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #52c198;
    color: rgb(246, 242, 242);
  }
