/* Style for the dashboard */
table {
    width: 70dvw;
    
    margin-bottom: 20px;
  }
  
  table, th, td {
    border: 1px solid #ddd;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  /* Style for the dashboard header */
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Style for individual expense rows */
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  /* Style for the footer */
  .footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  .table-container{
    display: flex;
justify-content: center;
align-items: center;
  }


  